* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: url("bg.jpg") no-repeat center center fixed;
  background-size: cover;
}


.page {
  min-height: 100vh;          
  display: flex;
  justify-content: center;    
  align-items: center;        
  padding: 20px 12px;         
}


.card {
  width: 100%;
  max-width: 400px;
  background: rgba(170, 166, 166, 0.6);
  border-radius: 20px;
  padding: 100px 20px 16px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  position: relative;
}

/* Foto profil */
.profil {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  background: #fff;

  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Judul */
h1 {
  margin: 12px 0 4px;
  font-size: clamp(18px, 4vw, 22px); /* responsif saat zoom */
}

.subtitle {
  margin: 0 0 20px;
  font-size: 14px;
  color: #000000;
}

h2 {
  font-size: 13px;
  letter-spacing: 1px;
  color: #000000;
  margin: 20px 0 10px;
}

/* Tombol link */
.link {
  display: block;
  text-decoration: none;
  background: #742f3a;
  color: #fff;
  padding: 12px;
  border-radius: 999px; /* selalu bulat */
  margin: 10px 0;
  font-weight: bold;
  transition: transform 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
}

.link:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  background: #4d121b;
}

footer {
  margin-top: 10px;
  font-size: 12px;
  color: #000000;
}

@media (max-width: 360px) {
  .profil {
    width: 90px;
    height: 90px;
  }

  .card {
    padding-top: 70px;
  }

  .link {
    font-size: 14px;
    padding: 10px;
  }
}
